/* 기본 레이아웃 및 공통 스타일 */
#channel-setting-container.container {
    color: #fff;
    padding: 40px 80px;
    box-sizing: border-box;
}

/* 제목 */
#channel-setting-container .title {
    font-size: 64px;
    color: #fff;
    margin-bottom: 50px;
}

/* 공통 Input 스타일 */
#channel-setting-container .input-field {
    background-color: #2F2E2E;
    color: #E6E6E6;
    border: 1px solid #954B01;
    border-radius: 5px;
    padding: 8px;
    margin-right: 20px;
    hegiht: 100%;
}

/* 공통 버튼 스타일 */
#channel-setting-container .button {
    background-color: #2F2E2E;
    color: #F38605;
    border: 1px solid #F9B571;
    border-radius: 5px;
    height: 100%;
    padding: 10px;
}

#channel-setting-container .button:hover {
    background-color: #313131;
}

#channel-setting-container .button:active {
    background-color: #534a4a;
}

#channel-setting-container .input-section {
    display: flex;
    flex-direction: row;
    height: 45px;
    margin-top: 60px;
    margin-bottom: 10px;
}

#channel-setting-container .input-field {
    flex-grow: 2; /* 인풋 영역을 크게 */
}

/* 프로필 업로드 영역 */
#channel-setting-container .profile-upload-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

#channel-setting-container .profile-image {
    border: 2px solid #954B01;
    background-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#channel-setting-container .profile-upload-section .button {
    margin-right: 20px;
}

#channel-setting-container .textarea-section {
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-top: 60px;
    margin-bottom: 10px;
}

#channel-setting-container .textarea-section .button {
    height: 45px;
}

#channel-setting-container .large-input {
    height: 100%;
}

/* 스트림 키 복사 영역 */
#channel-setting-container .stream-key-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#channel-setting-container .stream-key-input {
    flex-grow: 1;
}

/* 카테고리 태그 스타일 */
#channel-setting-container .category-tag {
    background-color: #1A1A1A;
    color: #DB8B3A;
    border: 1px solid #F9B571;
    border-radius: 5px;
    margin-right: 5px;
}
